node_modules/
.env
yarn-error.log
**/*.d.ts
**/*.js
**/*.js.map
.vscode/
.idea/
documentation
.DS_Store
dist
packages/contracts/coverage.json
packages/contracts/coverage
packages/contracts/coverageEnv
packages/contracts/build
packages/machinomy/coverage
.nyc_output
!truffle-config.js
.yarn/install-state.gz
