node_modules/
.env
yarn-error.log
pnpm-debug.log*
.pnpm-store/
**/*.d.ts
**/*.js
**/*.js.map
.vscode/
.idea/
documentation
.DS_Store
dist
packages/contracts/coverage.json
packages/contracts/coverage
packages/contracts/coverageEnv
packages/contracts/build
packages/machinomy/coverage
.nyc_output
!truffle-config.js
**/*.db
**/*.db-*
